<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1 class="text-center">Bienvenidos a my Blog</h1>
    <div class="container-fluid">
      <div class="row mt-3">
        <img
          src="https://e00-expansion.uecdn.es/assets/multimedia/imagenes/2016/10/10/14760917222258.jpg"
        />
      </div>
    </div>
    <h2 class="text-center">¿ QUE ES META ?</h2>
    <p class="text-center">
      Desde hace algunas semanas corrían rumores sobre el cambio de nombre de la
      gigantesca red social. Hoy, a través de una transmisión por Facebook, Mark
      Zuckerberg confirmó la noticia: ahora la empresa se llama oficialmente
      “Meta”.
    </p>
    <p class="text-center">
      Hace poco habíamos publicado un artículo hablando sobre la nueva y
      arriesgada maniobra de Facebook de apostarle todo al metaverso. El anuncio
      de la empresa sorprendió a muchos, pues aunque la red social ha invertido
      altas cifras en el desarrollo de hardware de realidad virtual, los
      productos presentados no han tenido el éxito esperado. Por otro lado, se
      ha proporcionado muy poca información acerca de la plataforma social
      Horizons, actualmente en estado beta, a pesar de que fuera anunciada hace
      más de un año.
    </p>
  </body>
</html>
